.main-page {
    background-color: antiquewhite;
    font-family: monospace, sans-serif;
    text-align: center;
    margin: 50px;
}

.divider {
    border-bottom: 5px solid black;
    margin: 50px;
}

h1 {
    font-size: 50px;
    margin: 100px;
}

.left-align {
    text-align: left;
}

body img {
    height: 500px;
}